<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <targets>

        <target name="debugFile" xsi:type="File"
                fileName="logs/debug.log"
                layout="${longdate}|DEBUG|${logger}|${message}"
                archiveAboveSize="52428800"
                archiveNumbering="Rolling"
                maxArchiveFiles="5"
                concurrentWrites="true"
                keepFileOpen="false"/>

        <target name="infoFile" xsi:type="File"
                fileName="logs/info.log"
                layout="${longdate}|INFO|${logger}|${message}"
                archiveAboveSize="52428800"
                archiveNumbering="Rolling"
                maxArchiveFiles="5"
                concurrentWrites="true"
                keepFileOpen="false" />

        <target name="errorFile" xsi:type="File"
                fileName="logs/error.log"
                layout="${longdate}|ERROR|${logger}|${message}"
                archiveAboveSize="52428800"
                archiveNumbering="Rolling"
                maxArchiveFiles="5"
                concurrentWrites="true"
                keepFileOpen="false" />

        <target name="console" xsi:type="Console"
                layout="${longdate}|${level}|${logger}|${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugFile" />
        <logger name="*" minlevel="Info"  maxlevel="Info"  writeTo="infoFile" />
        <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorFile" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>

</nlog>
